
<ion-content >
  <ion-app class="inner-background">
      <div class="main-container"><br>
        <div class="inner-container">
          <div class="top-back-button">
            <img src="../../../assets/icon/back-arrow.png" alt="">
            <span (click)="navigateToBack()">Back</span>
          </div>
          
          <div class="introductory-text-container">
            <div class="introductory-text">
              <img src="../../../assets/icon/Sent Verification code.png" alt="intro image">
              <div class="page">
                <p>
                  <b>Forget Password</b>
                </p>
              </div>
              <p> Enter 4 digit code that you received on your email.</p>
              <p class="hidden-user-email"> ashib******&#64;gmail.com</p>
            </div>
          </div>

          <form method="post">
            <div class="input-wrapper"><br>
                <div class="otp-digit-container">
                  <input type="text" maxlength="1" class="otp-input">
                  <input type="text" maxlength="1" class="otp-input">
                  <input type="text" maxlength="1" class="otp-input">
                  <input type="text" maxlength="1" class="otp-input">
                </div>
            </div>
            <p class="code-resend-text"> <b>Code sent.</b> Re-send code in 00.50</p>
          </form>
        </div>
        <div class="auth-button-container">
          <button class="button fill" (click)="navigateToResetPassword()">Continue</button>
        </div>
      </div>
  </ion-app>
</ion-content>




