.main-container {
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: -webkit-fill-available;
}

.page {
    color: black;
    font-size: 28px;
    width: 100%;
    text-align: center;
}

form {
    padding: 0 25px;
}

.code-resend-text {
    width: 100%;
    text-align: center;
    color: #252525;
    font-size: 14px;
}

.otp-digit-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: max-content;
    margin: auto;
}
  
.otp-input {
    width: 50px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: #e9e9e9;
    outline: none;
    color: rgb(56, 56, 56);
}
  
.otp-input:focus {
    border-color: #0056b3;
}

.fill {
    background-color: #1c8ae4 !important;
}

.auth-button-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
}

.forget-password {
    color: #1c8ae4;
    font-weight: bold;
    float: right;
    font-size: 14px;
}

.reg-navigator-contaner {
    display: flex;
    padding: 25px;
}

.reg-navigator {
    width: 100%;
    text-align: center;
    color: black;
    font-size: 14px;
    b {
        color: #1c8ae4;
    }
}

.toggle-password-eye {
    height: 20px;
    position: absolute;
    right: 45px;
    margin-top: 15px;
}

.introductory-text-container {
    display: flex;
    text-align: center;
    height: 500px;
    padding: 50px 40px 0 40px;
}

.introductory-text img {
    height: 300px;
}

.introductory-text {
    font-size: 14px;
    color: #252525;
    line-height: 25px;
}

.top-back-button {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    color: #252525;
    align-items: center;
    padding: 0 25px;
}

.top-back-button span {
    padding-top: 2px;
}

.top-back-button img {
    height: 15px;
    margin-right: 10px;
}

.hidden-user-email {
    color: #1c8ae4;
}
