<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="patients">
      <ion-icon name="people-outline"></ion-icon>
      Patients
    </ion-tab-button>
    <ion-tab-button tab="appoinments">
      <ion-icon name="calendar-clear-outline"></ion-icon>
      Appoinments
    </ion-tab-button>
    <ion-tab-button tab="menu">
      <ion-icon name="Menu"></ion-icon>
      Menu
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
