
<ion-content >
  <ion-app class="inner-background">
      <div class="main-container"><br>
        <div class="introductory-text-container">
          <div class="introductory-text">
            <img src="../../../assets/icon/Logo.png" alt="sample logo">
            <p>
              <b>Effortless Patient Management at Your Fingertips</b><br><br>
              Stay organized, save time, and focus on what matters most—caring for your patients
            </p>
          </div>
        </div>
        <div class="auth-button-container">
          <button class="button fill" (click)="navigateToLogin()">Login</button>
          <button color="white" class="button register" (click)="navigateToSignUp()">Register</button>
        </div>
      </div>
  </ion-app>
</ion-content>
